<!DOCTYPE html>
<html>
<head>
    <title>S3 Pre-signed URL Example</title>
</head>
<body>
    <h1>Pre-signed URLs</h1>
    <ul>
        <li>
            <a href="<PRE-SIGNED-URL-FOR-RDS.PNG>" target="_blank">rds.png</a>
        </li>
        <li>
            <a href="<PRE-SIGNED-URL-FOR-AWS.PNG>" target="_blank">aws.png</a>
        </li>
    </ul>
    <h1>Link to rds-check-result.html</h1>
    <p>
        <a href="<LINK-TO-RDS-CHECK-RESULT.HTML>" target="_blank">rds-check-result.html</a>
    </p>
</body>
</html>

